:root{
        --primary-color: #cc005f;
}
.container{
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
                "nav    nav     nav     nav     nav     nav     nav     nav     nav     nav     nav     nav"
                "intro  intro   intro   intro   intro   intro   intro   intro   intro   intro   intro   intro"
                "footer footer  footer  footer  footer  footer  footer  footer  footer  footer  footer  footer"
}

.nav {
        grid-area: nav;
        width: 100%;
        color: white;
}
.nav > * {
        padding: 10px;
        padding-top: 15px;
        margin: 5px;
}
.intro {
        grid-area: intro;
        height: 100vh;
        background : #151515 url(../images/intro-bg.jpg) no-repeat center bottom;
        color: white;
}
.intro_content{
        align-items: center;
}
.intro_content > * {
        text-align: center;
}
.intro_title{
        font-family   : poppins-bold, sans-serif;
        color         : var(--primary-color);
        font-size     : 1.4rem;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
}
.intro_name {
        font-size: 5rem;
}
.intro_description {
        font-size     : 1.3rem;
        opacity : 0.7;
}
.button{
        color          : white;
        text-decoration: none;
        padding        : 1rem;
        letter-spacing : 0.25rem;
        border         : 3px solid #0f0f0f;
        margin-top     : 3rem;
}
.button:hover{
        border         : 3px solid #cc005f;
}

.intro > .social{
        padding: 5rem;
        font-size: 2.5rem;
}
.footer .social{
        padding: 1rem;
        font-size: 1.7rem;
}
.footer .social > * {
        margin: 0 1rem;
}
.social{
        /* display: block; */
        justify-content: center;
}
.social > * {
        cursor   : pointer;
        display  : block;
        margin   : 0 3rem;
        color    : white;

}
.social > *:hover{
        color:var(--primary-color);
}
.social a {
        color:inherit;
}

.footer{
        justify-items: center;
        color: white;
        background: #151515;
        grid-area            : footer;
        height: 30vh;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows   : auto;
        grid-template-areas  :
                "location location location name name name name name name social social social" 
}

.footer > .location {
        grid-area: location;
}
.footer > .name {
        grid-area  : name;
        margin     : auto;
        /* transform  : translate(0px, -30px); */
        font-size  : 4rem;
        text-align: center;
        font-family: Sacramento,cursive;
}
.footer > .contact {
        grid-area: social;
}
.footer_mail {
        opacity    : 0.3;
        font-family: auto;
        font-size  : 1rem;
}
.footer h5 {
        color: var(--primary-color);
}
.map_marker{
        font-size: 1.7rem;
}

@media (max-width: 767px){
        .footer {
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows   : auto;
                grid-template-areas  :
                        "location location location location"
                        "name name name name" 
                        "social social social social"
        }
}